
.ChannelDetails .cards {
  display: flex;
  float: left;
  margin: 100px 50px 25px 10px;
}
.ChannelDetails .banner {
  display: flex;
  height: 130px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 0.2) 100%
  );
}

.ChannelDetails .banner img {
  width: 150px;
  border-radius: 50%;
}
