.Aside {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}

.Aside button {
  cursor: pointer;
  text-align: start;
  margin-bottom: 15px;
  width: 138px;
  padding: 10px;
  text-decoration: none;
  font-size: large;
  border-radius: 10px;
  background-color: #4D4D4D;
}

.Aside button:hover {
  background-color: #cd1818;
  transition: 0.3s;
}

.Aside svg {
  width: 20px;
}
