.Main .cards {
  display: flex;
  float: left;
  margin: 25px 25px 25px 25px;
}

.Main .section {
  margin-left: 25px;
  text-transform: capitalize;
  font-size: x-large;
}

.section span {
  color:black;
}
