.Layout {
  height: 100vh;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(6, 1fr);
}

.Layout > header,
.Layout > footer {
  grid-column: span 6;
}

.Layout > main {
  grid-column: span 5;
  overflow: auto;
}

.Layout,
.Layout > * {
  border: 1px solid blueviolet;
}
