.Header {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header div {
  justify-content: center;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #0073e6, #0073e600);
  padding: 10px 20px 10px 10px;
  border-radius: 10px 5px 5px 10px;
}
