@font-face {
  font-family: Roboto;
  src: url(./Assets/Fonts/Roboto-Regular.ttf);
}

* {
  box-sizing: border-box;
  overflow: hidden;
}

html {
  font-family: Roboto;
  font-weight: bold;
}

body {
  margin: 0;
  background-color: #321E1E;
  color: #CD1818;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}