@font-face {
  font-family: Roboto;
  src: url(./Assets/Fonts/Roboto-Regular.ttf);
}
html {
  font-family: Roboto;
  font-weight: bold;
}

body {
  margin: 0;
  background-color: #f5f5f5;
  color: #333333;
}
