.VideoDetails{
  display: flex;
  flex-direction: column;
  margin: 50px 50px 25px 10px;
}

.VideoDetails section {
  color: #767676;
}

.VideoDetails .videos .VideoCard {
  display: flex;
  float: left;
  margin: 50px 25px 25px 10px;
}